#contenedor-productos{

    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.precio-total{

    font-size: 28px;

}

.elemento-carrito__texto{

    text-align: left;
    width: 250px;

}