#precio-cart {

    font-size: 22px;

}

#eliminar{

    background-color: red;
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.elemento-carrito {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.elemento-carrito__img {

    width: 100px;

}

.elemento-carrito__texto__titulo {

    font-size: 16px;

}

.elemento-carrito__texto__descripcion {

    font-size: 12px;

}



.elemento-carrito__precio {

    display: flex;
    gap: 5px;

}

.elemento-carrito__cantidad {

    font-size: 20px;
    margin: 0px 10px;

}

.elemento-carrito svg {

    color: rgb(255, 255, 255);

}