.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1280px;
    margin: 0 auto;
    padding: 10px 20px;

    background-color: #0094ff;
    border-radius: 0 0 15px 15px;

}

.logo__img {

    width: 50px;

    margin-left: auto;
    margin-right: auto;
    display: block;

}

.navegacion ul {

    display: flex;
    gap: 40px;
    justify-content: center;

    list-style: none;

    margin: 0px;
    padding: 0px;


}

.navegacion ul li a {

    text-decoration: none;
    color: white;

    font-size: 18px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navegacion ul li a:hover {

    color: #FBB158;

}
