

.boton__seguirComprando, .boton__verCarrito {

    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: orange;

    border-radius: 50px;
    border: none;

    text-decoration: none;
    cursor: pointer;

    padding: 10px 20px;

}

.producto__contenedor__datos__boton:hover {

    background-color: orangered;

}