.cartWidgetContainer{

    position: relative;

}

.cart {

    color: rgba(255, 255, 255, 0.5);

}

.cart:hover{

    color: rgba(255, 255, 255, 0.7);


}

.cartCount{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    bottom: -5px;
    right: -10px;
}
