.header__logo {

    width: 50px;

}

.navbar {

    max-width: 1280px;
    margin: auto;

    background-color: var(--azul);
    border-radius: 0 0 15px 15px;
}

.firefox .navbar {
    backdrop-filter: none;
    background-color: var(--bg);
}

.nav-link{

    position: relative;

}

#cartWidget-Counter{

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    right: 0px;
    bottom: -5px;
    font-size: 12px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}