#id-producto {

    display: none;

}

.producto {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    position: relative;

    margin: 0;
    margin-top: 100px;
    padding: 50px 100px;

    width: 100%;
    min-height: 720px;

    &__contenedor {

        display: flex;
        justify-content: center;

        gap: 80px;


        &__img {

            width: 250px;

        }

        &__datos {

            display: flex;
            flex-direction: column;


            &__titulo {

                font-size: 24px;

            }

            &__descripcion {
                
                font-size: 14px;

            }

            &>div {

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                margin: 5px 0px;

                gap: 10px;

                font-size: 18px;

                &>div {

                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    font-size: 18px;


                }

            }

            &__cantidad {

                display: flex;


                border: 1px solid var(--naranja_claro);
                width: 80px;
                height: 25px;

                border-radius: 5px;
                overflow: hidden;

                &>button {

                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: var(--naranja_claro);
                    border: none;
                    width: 50px;
                    height: 100%;

                    &:hover {

                        background-color: var(--naranja);


                    }

                }

                &__contador {

                    height: 18px;
                    text-align: center;
                    font-size: 16px;

                    width: 100%;
                    height: 100%;

                    border: none;

                    -moz-appearance: textfield;

                }

                &__contador::-webkit-inner-spin-button,
                &__contador::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

            }

            &__precio {

                display: flex;
                gap: 10px;
                font-size: 24px;
                font-weight: 600;

            }

            &__boton {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;

                font-size: 18px;
                color: white;
                background-color: var(--naranja_claro);

                border-radius: 50px;
                border: none;

                cursor: pointer;

                padding: 5px 10px;


                &__cart {

                    width: 25px;

                }


                &:hover {

                    background-color: var(--naranja);

                }

            }

        }

    }


    &__recomendados {

        display: flex;
        flex-direction: column;
        gap: 20px;

        margin: 0px 30px;

        &__titulo {

            font-size: 20px;
            font-weight: 600;

        }

        &__contenedor {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            align-items: center;
            gap: 30px;

            margin: 0 auto;

            &__elemento {

                display: flex;
                flex-direction: column;
                // gap: 5px;
                align-items: center;
                justify-content: space-between;

                padding: 10px 15px;
                background-color: white;
                border-radius: 10px;

                color: black;

                transition: box-shadow .2s linear;

                width: 100%;
                // min-height: 270px;

                &:hover {

                    // border: 1px solid var(--azul);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);


                }

                & a {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    color: black;

                    &:hover {

                        color: var(--naranja_claro);

                    }

                    &>div{

                        display: flex;
                        gap: 5px;

                    }

                }

                &__img {

                    width: 70%;

                }

                &__titulo {

                    font-size: 13px;

                }

                &__descripcion {

                    font-size: 12px;
                    line-height: 15px;
                    min-height: 60px;

                }

                &>div {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    width: 100%;
                    margin: 5px 0px;

                    div {

                        display: flex;
                        font-size: 18px;
                        // color: var(--naranja);


                    }

                }

                &__cantidad {

                    border: 1px solid var(--naranja_claro);
                    width: 70px;
                    height: 20px;

                    border-radius: 5px;
                    overflow: hidden;

                    &>button {

                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        background-color: var(--naranja_claro);
                        border: none;
                        width: 50px;
                        height: 100%;

                        &:hover {

                            background-color: var(--naranja);


                        }

                    }

                    &__contador {

                        height: 18px;
                        text-align: center;
                        font-size: 16px;

                        width: 100%;
                        height: 100%;

                        border: none;

                        -moz-appearance: textfield;

                    }

                    &__contador::-webkit-inner-spin-button,
                    &__contador::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                }

                &__precio {

                    font-weight: 600;

                }

                &__boton {

                    display: flex;
                    align-items: center;
                    gap: 5px;

                    font-size: 12px;
                    color: white;
                    background-color: var(--naranja_claro);

                    border-radius: 50px;
                    border: none;

                    cursor: pointer;

                    padding: 5px 10px;

                    &__cart {

                        width: 15px;

                    }


                    &:hover {

                        background-color: var(--naranja);

                    }

                }

            }

        }
    }
}

.itemCount{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.ItemDetailBtns{

    display: flex;
    gap: 10px;

    &>a{

        
    font-size: 14px;
    // font-weight: 600;
    color: white;
    background-color: var(--naranja_claro);

    border-radius: 50px;
    border: none;

    text-decoration: none;
    cursor: pointer;

    padding: 10px 20px;

    }

}

.seleccionado {

    border: 2px solid var(--naranja) !important;
    background-color: transparent !important;

}